body {
    margin: 0 auto;
    max-width: 25rem;
    background-color: olive;
    font-family: 'Times New Roman', Times, serif;
}



h1 {
    color: blanchedalmond;

}

h2 {
    color: blanchedalmond;
}

p {
    color: blanchedalmond;
    
}

a  {
    color:white;
    text-align: center;
    text-decoration: none;
    flex: 1; 
    outline: none;
    line-height: 3; 
    
}

ul {
    list-style-type: none;   
} 

a:visited {
    color: bisque;

}

:hover {
    color: brown;
    
    
}



